catboost==1.2.7
category-encoders==2.6.4
jupyterlab==4.2.5
lightgbm==4.5.0
matplotlib==3.9.2
numpy==1.26.4
optuna==4.0.0
pandas[performance]==2.2.3
plotly==5.24.1
pre-commit==4.0.0
scikit-learn==1.5.2
xgboost==2.1.1
ydata-profiling[notebook]==4.10.0
